* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.global-container {
	background-image: url("/backgrounds/pastel-background2.png");
	width: 100vw;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.middle-container {
	width: 70%;
	height: 90%;
	background-color: rgb(21, 11, 48);
	border-radius: 10px;
	box-shadow: -29px 22px 45px -4px rgba(17, 17, 17, 0.73);
	-webkit-box-shadow: -29px 22px 45px -4px rgba(17, 17, 17, 0.73);
	-moz-box-shadow: -29px 22px 45px -4px rgba(17, 17, 17, 0.73);
}
.header-actions {
	display: flex;
	justify-content: space-around;
	padding-top: 20px;
}
.main {
	display: flex;
	justify-content: space-between;
	width: 50%;
}
.main a {
	color: #f7f8ed;
}
.bar-search {
	display: flex;
	flex-direction: row;
	width: 25%;
}
.bar-search div {
	width: 10%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(204, 185, 11);
	border-radius: 0 5px 5px 0;
}
.bar-search input {
	width: 85%;
	border: 5px solid rgb(216, 184, 3);
	height: 25px;
	padding: 10px;
	border-radius: 5px 0 0 5px;
}
.books-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-items: center;

	height: 80%;

	margin-top: 40px;
	gap: 10px;

	overflow-y: scroll;
}
.text-intro {
	grid-column: span 2;
	grid-row: span 0;
	display: flex;
	justify-content: center;
	border: 1px solid rgb(12, 11, 11);
}
.text-intro p {
	color: white;
	padding: 10px;
}
